:root {
    --iridescent-0: #070421;
    --iridescent-1: #030a5d;
    --iridescent-2: #4246aa;
    --iridescent-3: #7c70d5;
    --iridescent-4: #d2c6e8;
}

body {
    background-color: var(--iridescent-0);
    color: white;
}