body {
    background-color: #000010;
    color: white;
}

.glass {
    background-color: rgba(var(--iridescent-0), 0.1);
    backdrop-filter: blur(10px) brightness(60%);
    -webkit-backdrop-filter: blur(10px) brightness(60%);
}